
body {
	font-family: "Germania One",cursive;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

p{
	font-family: Oswald, avenir, sans-serif;
	text-align: justify;
	color: #3c3d3d;
	margin-top: 1.5em;
}

.main{
	font-family: "Germania One",cursive;
	font-size: 30px;
	line-height: 1.5em;
}

h1{
	font-family: "Germania One",cursive;
	font-size: 43px;
	line-height: 1.5em;
}

.global-nav-main a{
	font-family: "Germania One",cursive;
	font-size:23px;
	line-height: 1.5em;
}

.global-nav a{
	font-family: "Germania One",cursive;
	font-size:23px;
	line-height: 1.5em;
}

.notation{
	font-family: Oswald, avenir, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	text-align: justify;
	color: #3c3d3d;
}

h2{
	color: #51500f;
	margin-top: 2.5em;
}

.quote{
	color: #577f7f;
	font-weight: 500;
}

.quote2{
	color: #577f7f;
	font-weight: 500;
}
